<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".ui.view.account.SettingsActivity"
    android:orientation="vertical"
    >
    <include
        layout="@layout/basic_app_bar" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:paddingTop="@dimen/layout_padding"
        android:paddingBottom="@dimen/layout_padding"

        >
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Hiển thị"
            android:textSize="@dimen/font_size_extra_small"
            android:layout_marginBottom="20dp"
            android:layout_marginLeft="50dp"
            android:textColor="@color/blue_main"/>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:paddingBottom="@dimen/layout_padding"
            android:paddingTop="@dimen/layout_padding"
            android:paddingLeft="50dp"
            >
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Kiểu hiển thị số tiền"
                android:textColor="@color/black"
                android:textSize="@dimen/font_size_normal"/>
        </LinearLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:paddingBottom="@dimen/layout_padding"
            android:paddingTop="@dimen/layout_padding"
            android:paddingLeft="50dp"
            >
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Đơn vị tiền"
                android:textColor="@color/black"
                android:textSize="@dimen/font_size_normal"/>
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="VND"
                android:textSize="@dimen/font_size_small"/>
        </LinearLayout>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:paddingBottom="@dimen/layout_padding"
            android:paddingTop="@dimen/layout_padding"
            android:paddingLeft="50dp"
            >
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Chọn định dạng ngày"
                android:textColor="@color/black"
                android:textSize="@dimen/font_size_normal"/>
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="20/11/2001"
                android:textSize="@dimen/font_size_small"/>
        </LinearLayout>
    </LinearLayout>
    <View
        android:layout_width="match_parent"
        android:layout_height="2dp"
        android:background="@android:color/darker_gray"/>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:paddingTop="@dimen/layout_padding"
        android:paddingBottom="@dimen/layout_padding"
        >
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="Thông báo"
            android:textSize="@dimen/font_size_extra_small"
            android:layout_marginBottom="20dp"
            android:layout_marginLeft="50dp"
            android:textColor="@color/blue_main"/>
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="horizontal"
            android:paddingLeft="50dp"
            >
            <LinearLayout
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:orientation="vertical"
                android:paddingBottom="@dimen/layout_padding"
                android:paddingTop="@dimen/layout_padding"
                >
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Âm thanh thông báo"
                    android:textColor="@color/black"
                    android:textSize="@dimen/font_size_normal"/>
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Bất âm thanh cho thông báo"
                    android:textSize="@dimen/font_size_small"/>
            </LinearLayout>

            <com.google.android.material.switchmaterial.SwitchMaterial
                android:layout_width="match_parent"
                android:paddingRight="@dimen/layout_padding"
                android:layout_height="wrap_content"
                android:layout_gravity="center_vertical" />
        </LinearLayout>
        <LinearLayout
            android:id="@+id/set_notification_btn"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:paddingBottom="@dimen/layout_padding"
            android:paddingTop="@dimen/layout_padding"
            android:paddingLeft="50dp"
            >
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Nhắc thêm giao dịch hằng ngày"
                android:textColor="@color/black"
                android:textSize="@dimen/font_size_normal"/>
            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="22:20"
                android:textSize="@dimen/font_size_small"/>
        </LinearLayout>
    </LinearLayout>
    <View
        android:layout_width="match_parent"
        android:layout_height="2dp"
        android:background="@android:color/darker_gray"/>
</LinearLayout>